// COLORS
$color-white: #fff;
$color-primary: #57b8ff;
$color-bg-black: rgba(0, 0, 0, 0.88);
$color-bg-yellow: #fdd04a;
$color-yellow: #fac422;
$color-header-text: #80858f;
$color-sponsor-title: #222730;
$color-sponsor-text: #555;
$color-future-text: rgba(223, 223, 223, 0.8);
$color-order-title: #141820;
$color-footer-text: #999;
$color-bg-character: #2a313c;
$color-black: #000;

//FONTS
$site-font: "Orbitron", "Arial", sans-serif;


